doctype html
extends ./layout.jade
block append content
    div.container
        div.col-md-3
        div.title.col-md-6
            div WANNA REST TONIGHT?
            div.description Find the best party places
        form( method="post" action="/search")
            div.row
                div.col-md-2
                div.col-md-8
                    input(type="text" name="location" placeholder="WHAT IS YOUR LOCATION?")
                div.col-md-2
                    button(type="submit" style='textAlign:center').btn.btn-default Find
    div(style="text-align:center")
        img(src="img/nightlife.jpg" style="width:45%; margin-bottom:20px")
