//
   Created by Владелец on 27.12.2016.
doctype html
extends ./layout.jade
block append content
    div.row
        div.col-md-3
        div.title.col-md-6
            div WANNA REST TONIGHT?
            div.description Find the best party places
        form( method="post" action="/search")
            input(type="text" name="location")
            button(type="submit").btn.btn-default Find
    div.row
        div.col.md-3

            - if (data.length)
            -for (var i = 0; i < data.length; i++)
                div.row.result
                    div.col-md-3
                        img(src=data[i].img_url alt="Smiley face" height="150" width="150")
                    div.col-md-9
                        div
                            a(href=data[i].url)= data[i].barname
                        div=data[i].text
                        button.btn.btn-default=data[i].going.length + ' GOING'